body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbead9;
    font-family: Verdana, sans-serif;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #0074d9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
